{{extend './layout.html'}}

<div class="columns is-centered">
    <div class="column is-three-fifths">
        <div class="field">
            <label class="label">Name</label>
            <p class="control has-icons-left has-icons-right">
                <input class="input" type="text" name="name" placeholder="Name">
                <span class="icon is-small is-left">
                    <i class="fas fa-id-card"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <label class="label">Surname</label>
            <p class="control has-icons-left has-icons-right">
                <input class="input" type="text" name="surname" placeholder="Surname">
                <span class="icon is-small is-left">
                    <i class="fas fa-id-card"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <label class="label">E-mail</label>
            <p class="control has-icons-left has-icons-right">
                <input class="input" type="email" name="user_email" placeholder="E-mail">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <label class="label">Password</label>
            <p class="control has-icons-left">
                <input class="input" type="password" name="user_password" placeholder="Password">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <label class="label">Password Again</label>
            <p class="control has-icons-left">
                <input class="input" type="password" name="user_password_again" placeholder="Password">
                <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control">
                <button class="button is-success btn-register">
                    Register
                </button>
            </p>
        </div>
    </div>
</div>